<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="favicon.png" type="image/x-icon">

        <!--=============== REMIXICONS ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

        <title>GeneSync</title>
    </head>
    <body>
        <!--==================== HEADER ====================-->
        <header class="header" id="header">
            <nav class="nav container">
                <a href="#" class="nav__logo">
                    GeneSync
                </a>
                
                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav_item">
                            <a href="index.html" class="nav__link">Home</a>
                        </li>
                        <li class="nav_item">
                            <a href="opti.html" class="nav__link">Optimize</a>
                        </li>
                        <li class="nav_item">
                            <a href="#" class="nav__link">Custom</a>
                        </li>
                        <li class="nav_item">
                            <a href="#" class="nav__link">Info</a>
                        </li>
                    </ul>


                    <div class="nav__close" id="nav-close">
                        <i class="ri-close-line"></i>
                    </div>

                    <img src="{{ url_for('static', filename='img/ethereum-img.gif') }}" alt="nav image" class="nav__img">
                </div>


                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-menu-4-line"></i>
                </div>
            </nav>
        </header>

        <!--==================== MAIN ====================-->
        <main class="main">
            <!--==================== HOME ====================-->
            <section class="home"> 
                <div class="home__shape-small"></div>
                <div class="home__shape-big-1"></div>         
                <div class="home__shape-big-2"></div>
                <img src="{{ url_for('static', filename='img/shape-bg.png') }}" alt="" srcset="" class="home__shape-bg">
                <div class="home__container container">
                    <div class="home__info">
                        <h1 class="home__title">
                            <span>Discover</span> <br>                    
                            Collect, and <br>
                            Calculate <span>CODON.</span>
                        </h1>
                        <p class="home__description">
                            Explore the world of DNA for many organism.
                        </p>
                        <a href="" class="home__button">LETS GO !!</a>
                    </div>

                    <div class="home__group">
                        <div class="home__images">
                            <div class="home__img-eth">
                                <img src="{{ url_for('static', filename='img/ethereum-img.gif') }}" alt="home image" srcset="">
                            </div>
                            <div class="home__img-orbe">
                                <img src="{{ url_for('static', filename='img/orbe-img.png') }}" alt="home image" srcset="">
                            </div>
                        </div>

                        <div class="home__data">
                            <div>
                                <h2 class="home__data-number">13K</h2>
                                <span class="home_data--subtitle">Organism</span>
                            </div>
                            <div>
                                <h2 class="home__data-number">1K+</h2>
                                <span class="home_data--subtitle">Episodes</span>
                            </div>
                            <div>
                                <h2 class="home__data-number">1K+</h2>
                                <span class="home_data--subtitle">Crossovers</span>
                            </div>
                        </div>
                    </div>
                    <div class="home__footer">
                        <div>
                            <span class="home__footer-title">Current Organism</span>
                            <h3 class="home__footer-number">100</h3>
                            <span class="home__footer-subtitle">inbuilt</span>
                        </div>

                        <div>
                            <span class="home__footer-title">Activily running since</span>

                            <div class="home__footer-time">
                                <div class="home__footer-counter">
                                    <h3 class="home__footer-number">06</h3>
                                    <span class="home__footer-subtitle">hours</span>
                                </div>
                                <div class="home__footer-counter">
                                    <h3 class="home__footer-number">26</h3>
                                    <span class="home__footer-subtitle">minutes</span>
                                </div>
                                <div class="home__footer-counter">
                                    <h3 class="home__footer-number">12</h3>
                                    <span class="home__footer-subtitle">seconds</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <script src="{{ url_for('static', filename='js/scrollreveal.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
    </html>
